@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

/* Custom color palette */
@theme {
  --color-primary-50: oklch(0.965 0.017 271.28);
  --color-primary-100: oklch(0.922 0.037 268.91);
  --color-primary-200: oklch(0.846 0.075 266.58);
  --color-primary-300: oklch(0.769 0.117 263.52);
  --color-primary-400: oklch(0.692 0.163 258.51);
  --color-primary-500: oklch(0.624 0.197 253.71);
  --color-primary-600: oklch(0.545 0.172 253.68);
  --color-primary-700: oklch(0.467 0.147 253.7);
  --color-primary-800: oklch(0.389 0.123 253.79);
  --color-primary-900: oklch(0.311 0.098 253.64);
  --color-primary-950: oklch(0.274 0.086 253.62);

  --color-neutral-50: oklch(0.966 0.003 247.8);
  --color-neutral-100: oklch(0.923 0.009 247.9);
  --color-neutral-200: oklch(0.844 0.019 250.61);
  --color-neutral-300: oklch(0.767 0.028 249.91);
  --color-neutral-400: oklch(0.698 0.03 246.62);
  --color-neutral-500: oklch(0.62 0.027 248.25);
  --color-neutral-600: oklch(0.543 0.024 248.25);
  --color-neutral-700: oklch(0.466 0.019 245.37);
  --color-neutral-800: oklch(0.386 0.017 248.26);
  --color-neutral-900: oklch(0.314 0.014 248.25);
  --color-neutral-950: oklch(0.224 0.01 248.26);

  --color-red-50: oklch(0.958 0.016 17.55);
  --color-red-100: oklch(0.926 0.03 17.76);
  --color-red-200: oklch(0.852 0.065 18.53);
  --color-red-300: oklch(0.78 0.105 19.71);
  --color-red-400: oklch(0.709 0.152 21.67);
  --color-red-500: oklch(0.637 0.208 25.33);
  --color-red-600: oklch(0.539 0.19 26.43);
  --color-red-700: oklch(0.441 0.156 26.46);
  --color-red-800: oklch(0.341 0.121 26.45);
  --color-red-900: oklch(0.243 0.086 26.52);
  --color-red-950: oklch(0.184 0.065 26.54);

  --color-yellow-50: oklch(0.967 0.028 76.2);
  --color-yellow-100: oklch(0.932 0.058 76.3);
  --color-yellow-200: oklch(0.865 0.143 83.9);
  --color-yellow-300: oklch(0.795 0.162 86.04);
  --color-yellow-400: oklch(0.702 0.143 86.07);
  --color-yellow-500: oklch(0.605 0.123 86.04);
  --color-yellow-600: oklch(0.51 0.104 86.51);
  --color-yellow-700: oklch(0.424 0.086 86.15);
  --color-yellow-800: oklch(0.329 0.066 86.2);
  --color-yellow-900: oklch(0.235 0.048 86.17);
  --color-yellow-950: oklch(0.179 0.037 87.71);

  --color-green-50: oklch(0.959 0.067 150.89);
  --color-green-100: oklch(0.925 0.124 150.38);
  --color-green-200: oklch(0.846 0.225 149.67);
  --color-green-300: oklch(0.788 0.21 149.55);
  --color-green-400: oklch(0.723 0.192 149.58);
  --color-green-500: oklch(0.628 0.167 149.69);
  --color-green-600: oklch(0.529 0.141 149.56);
  --color-green-700: oklch(0.426 0.113 149.64);
  --color-green-800: oklch(0.326 0.086 149.59);
  --color-green-900: oklch(0.236 0.063 149.02);
  --color-green-950: oklch(0.184 0.049 149.38);

  --color-lime-50: oklch(0.958 0.092 132.37);
  --color-lime-100: oklch(0.915 0.219 131.14);
  --color-lime-200: oklch(0.835 0.222 130.86);
  --color-lime-300: oklch(0.768 0.204 130.85);
  --color-lime-400: oklch(0.676 0.18 130.99);
  --color-lime-500: oklch(0.591 0.157 130.89);
  --color-lime-600: oklch(0.499 0.133 130.86);
  --color-lime-700: oklch(0.405 0.108 130.68);
  --color-lime-800: oklch(0.313 0.083 131.24);
  --color-lime-900: oklch(0.229 0.061 131.13);
  --color-lime-950: oklch(0.174 0.047 130.24);

  --color-violet-50: oklch(0.959 0.02 295.26);
  --color-violet-100: oklch(0.918 0.041 294.79);
  --color-violet-200: oklch(0.841 0.082 294.69);
  --color-violet-300: oklch(0.761 0.127 294.03);
  --color-violet-400: oklch(0.68 0.174 293.43);
  --color-violet-500: oklch(0.606 0.219 292.73);
  --color-violet-600: oklch(0.524 0.265 291.42);
  --color-violet-700: oklch(0.434 0.228 291.4);
  --color-violet-800: oklch(0.342 0.18 291.45);
  --color-violet-900: oklch(0.24 0.125 291.4);
  --color-violet-950: oklch(0.188 0.1 291.29);

  --color-fuchsia-50: oklch(0.967 0.021 321.09);
  --color-fuchsia-100: oklch(0.927 0.049 319.73);
  --color-fuchsia-200: oklch(0.864 0.093 319.87);
  --color-fuchsia-300: oklch(0.793 0.149 320.49);
  --color-fuchsia-400: oklch(0.731 0.202 321.37);
  --color-fuchsia-500: oklch(0.667 0.259 322.16);
  --color-fuchsia-600: oklch(0.564 0.231 322.16);
  --color-fuchsia-700: oklch(0.457 0.186 322.38);
  --color-fuchsia-800: oklch(0.356 0.146 322.54);
  --color-fuchsia-900: oklch(0.246 0.1 321.88);
  --color-fuchsia-950: oklch(0.2 0.082 322.4);

  --color-ocean-50: oklch(0.966 0.017 247.99);
  --color-ocean-100: oklch(0.922 0.039 249.43);
  --color-ocean-200: oklch(0.843 0.082 244.51);
  --color-ocean-300: oklch(0.762 0.134 240.01);
  --color-ocean-400: oklch(0.685 0.148 237.31);
  --color-ocean-500: oklch(0.591 0.127 237.01);
  --color-ocean-600: oklch(0.504 0.109 237.7);
  --color-ocean-700: oklch(0.409 0.089 237.52);
  --color-ocean-800: oklch(0.316 0.069 237.35);
  --color-ocean-900: oklch(0.231 0.049 236.92);
  --color-ocean-950: oklch(0.176 0.038 235.69);

  --color-cyan-50: oklch(0.963 0.025 222.53);
  --color-cyan-100: oklch(0.926 0.051 221.46);
  --color-cyan-200: oklch(0.853 0.114 216.94);
  --color-cyan-300: oklch(0.781 0.137 214.92);
  --color-cyan-400: oklch(0.715 0.126 215.21);
  --color-cyan-500: oklch(0.62 0.109 215.13);
  --color-cyan-600: oklch(0.518 0.091 215.15);
  --color-cyan-700: oklch(0.424 0.075 215.65);
  --color-cyan-800: oklch(0.331 0.058 214.48);
  --color-cyan-900: oklch(0.229 0.041 217.16);
  --color-cyan-950: oklch(0.185 0.033 216.74);

  --color-pink-50: oklch(0.967 0.015 352.11);
  --color-pink-100: oklch(0.926 0.033 354.22);
  --color-pink-200: oklch(0.861 0.067 354.5);
  --color-pink-300: oklch(0.79 0.109 355);
  --color-pink-400: oklch(0.719 0.16 354.56);
  --color-pink-500: oklch(0.656 0.212 354.32);
  --color-pink-600: oklch(0.55 0.188 354.05);
  --color-pink-700: oklch(0.452 0.153 354.31);
  --color-pink-800: oklch(0.353 0.12 354.36);
  --color-pink-900: oklch(0.245 0.083 354.05);
  --color-pink-950: oklch(0.197 0.066 354.42);

  --color-orange-50: oklch(0.959 0.02 32.59);
  --color-orange-100: oklch(0.925 0.037 32.39);
  --color-orange-200: oklch(0.853 0.08 36.06);
  --color-orange-300: oklch(0.779 0.13 39.98);
  --color-orange-400: oklch(0.705 0.187 47.6);
  --color-orange-500: oklch(0.611 0.162 47.66);
  --color-orange-600: oklch(0.514 0.136 47.74);
  --color-orange-700: oklch(0.423 0.112 47.41);
  --color-orange-800: oklch(0.327 0.087 46.89);
  --color-orange-900: oklch(0.238 0.064 47.12);
  --color-orange-950: oklch(0.182 0.048 49.98);
}

body {
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.224 0.01 248.26);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.224 0.01 248.26);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.224 0.01 248.26);
  --primary: oklch(0.545 0.172 253.68);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.966 0.003 247.8);
  --secondary-foreground: oklch(0.314 0.014 248.25);
  --muted: oklch(0.966 0.003 247.8);
  --muted-foreground: oklch(0.543 0.024 248.25);
  --accent: oklch(0.966 0.003 247.8);
  --accent-foreground: oklch(0.224 0.01 248.26);
  --destructive: oklch(0.637 0.208 25.33);
  --border: oklch(0.844 0.019 250.61);
  --input: oklch(0.844 0.019 250.61);
  --ring: oklch(0.545 0.172 253.68);
  --chart-1: oklch(0.624 0.197 253.71);
  --chart-2: oklch(0.628 0.167 149.69);
  --chart-3: oklch(0.637 0.208 25.33);
  --chart-4: oklch(0.605 0.123 86.04);
  --chart-5: oklch(0.606 0.219 292.73);
  --sidebar: oklch(0.224 0.01 248.26);
  --sidebar-foreground: oklch(0.844 0.019 250.61);
  --sidebar-primary: oklch(0.624 0.197 253.71);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.314 0.014 248.25);
  --sidebar-accent-foreground: oklch(0.923 0.009 247.9);
  --sidebar-border: oklch(0.386 0.017 248.26);
  --sidebar-ring: oklch(0.545 0.172 253.68);
}

.dark {
  --background: oklch(0.224 0.01 248.26);
  --foreground: oklch(0.966 0.003 247.8);
  --card: oklch(0.314 0.014 248.25);
  --card-foreground: oklch(0.966 0.003 247.8);
  --popover: oklch(0.314 0.014 248.25);
  --popover-foreground: oklch(0.966 0.003 247.8);
  --primary: oklch(0.692 0.163 258.51);
  --primary-foreground: oklch(0.224 0.01 248.26);
  --secondary: oklch(0.386 0.017 248.26);
  --secondary-foreground: oklch(0.966 0.003 247.8);
  --muted: oklch(0.386 0.017 248.26);
  --muted-foreground: oklch(0.698 0.03 246.62);
  --accent: oklch(0.386 0.017 248.26);
  --accent-foreground: oklch(0.966 0.003 247.8);
  --destructive: oklch(0.709 0.152 21.67);
  --border: oklch(0.386 0.017 248.26);
  --input: oklch(0.466 0.019 245.37);
  --ring: oklch(0.692 0.163 258.51);
  --chart-1: oklch(0.692 0.163 258.51);
  --chart-2: oklch(0.723 0.192 149.58);
  --chart-3: oklch(0.709 0.152 21.67);
  --chart-4: oklch(0.702 0.143 86.07);
  --chart-5: oklch(0.68 0.174 293.43);
  --sidebar: oklch(0.224 0.01 248.26);
  --sidebar-foreground: oklch(0.844 0.019 250.61);
  --sidebar-primary: oklch(0.692 0.163 258.51);
  --sidebar-primary-foreground: oklch(0.224 0.01 248.26);
  --sidebar-accent: oklch(0.386 0.017 248.26);
  --sidebar-accent-foreground: oklch(0.966 0.003 247.8);
  --sidebar-border: oklch(0.386 0.017 248.26);
  --sidebar-ring: oklch(0.692 0.163 258.51);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
